body {
  font-family: "Roboto", sans-serif;
}

html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$color-green-300: #b5e48c;
$color-green-400: #99d98c;
$color-green-600: #52b69a;
$color-green-700: #34a0a4;

$color-orange-300: #ffba08;
$color-orange-400: #faa307;
$color-orange-600: #f48c06;
$color-orange-700: #ff7b00;
$color-orange-800: #eb5e28;

$color-white-light: #f7fff7;
$color-black-light: #333533;
